Lab6/WcfDatabaseServiceClient/WcfDatabaseServiceClient/Connected Services/ServiceReference1/DatabaseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="DatabaseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IDatabaseService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10000/DatabaseService?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10000/DatabaseService?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10000/DatabaseService?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
      <xsd:import schemaLocation="http://localhost:10000/DatabaseService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDatabaseService_getAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllUsers" />
  </wsdl:message>
  <wsdl:message name="IDatabaseService_getAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseService_getAllUsersSleep_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllUsersSleep" />
  </wsdl:message>
  <wsdl:message name="IDatabaseService_getAllUsersSleep_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllUsersSleepResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseService_getUserDatabaseSize_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserDatabaseSize" />
  </wsdl:message>
  <wsdl:message name="IDatabaseService_getUserDatabaseSize_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserDatabaseSizeResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseService_addUser_InputMessage">
    <wsdl:part name="parameters" element="tns:addUser" />
  </wsdl:message>
  <wsdl:message name="IDatabaseService_addUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseService_updateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:updateUser" />
  </wsdl:message>
  <wsdl:message name="IDatabaseService_updateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseService_deleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteUser" />
  </wsdl:message>
  <wsdl:message name="IDatabaseService_deleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IDatabaseService">
    <wsdl:operation name="getAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseService/getAllUsers" message="tns:IDatabaseService_getAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseService/getAllUsersResponse" message="tns:IDatabaseService_getAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllUsersSleep">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseService/getAllUsersSleep" message="tns:IDatabaseService_getAllUsersSleep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseService/getAllUsersSleepResponse" message="tns:IDatabaseService_getAllUsersSleep_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserDatabaseSize">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseService/getUserDatabaseSize" message="tns:IDatabaseService_getUserDatabaseSize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseService/getUserDatabaseSizeResponse" message="tns:IDatabaseService_getUserDatabaseSize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseService/addUser" message="tns:IDatabaseService_addUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseService/addUserResponse" message="tns:IDatabaseService_addUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseService/updateUser" message="tns:IDatabaseService_updateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseService/updateUserResponse" message="tns:IDatabaseService_updateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseService/deleteUser" message="tns:IDatabaseService_deleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseService/deleteUserResponse" message="tns:IDatabaseService_deleteUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDatabaseService" type="tns:IDatabaseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllUsers">
      <soap:operation soapAction="http://tempuri.org/IDatabaseService/getAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUsersSleep">
      <soap:operation soapAction="http://tempuri.org/IDatabaseService/getAllUsersSleep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserDatabaseSize">
      <soap:operation soapAction="http://tempuri.org/IDatabaseService/getUserDatabaseSize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="http://tempuri.org/IDatabaseService/addUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <soap:operation soapAction="http://tempuri.org/IDatabaseService/updateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="http://tempuri.org/IDatabaseService/deleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_IDatabaseService" type="tns:IDatabaseService">
    <wsp:PolicyReference URI="#WSHttpBinding_IDatabaseService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllUsers">
      <soap12:operation soapAction="http://tempuri.org/IDatabaseService/getAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUsersSleep">
      <soap12:operation soapAction="http://tempuri.org/IDatabaseService/getAllUsersSleep" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserDatabaseSize">
      <soap12:operation soapAction="http://tempuri.org/IDatabaseService/getUserDatabaseSize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap12:operation soapAction="http://tempuri.org/IDatabaseService/addUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <soap12:operation soapAction="http://tempuri.org/IDatabaseService/updateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap12:operation soapAction="http://tempuri.org/IDatabaseService/deleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DatabaseService">
    <wsdl:port name="BasicHttpBinding_IDatabaseService" binding="tns:BasicHttpBinding_IDatabaseService">
      <soap:address location="http://localhost:10000/DatabaseService/endpoint1" />
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_IDatabaseService" binding="tns:WSHttpBinding_IDatabaseService">
      <soap12:address location="http://localhost:10000/DatabaseService/endpoint2" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:10000/DatabaseService/endpoint2</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>